$boxHeight:202px;
$imgHeight:10px;
@mixin boxing{
	width: 800px;
	height:$boxHeight;
}
@mixin imging{
	width: 540px;
	height:$boxHeight;
}
@mixin doting{
	width: 17px;
	height: 2px;
	background-color: #C8C8C8;
}
$color:#C62F2F;
$shadow:rgba(0,0,0,.5);
html,body,ul,li{
	padding: 0;
	margin: 0;
}
li{
	list-style:none;
}
.content{
	position: relative;
	@include boxing;
	// overflow:hidden;
	margin:0 auto;
	.box{
		position: relative;
		@include boxing;
		overflow:hidden;
		// background-color: pink;
		li{
			position: absolute;
			top:$imgHeight;
			overflow: hidden;
			@include imging;
			border:1px solid rgba(0,0,0,.2);
			a{
				display:inline-block;
				img{
					width: 100%;
				}
			}
			&::after{
				content:'';
				position: absolute;
				top:0;
				left:0;
				right:0;
				bottom:0;
				background-color: $shadow;
				opacity:1;
			}
		}
		.img-active{
			&::after{
				content:'';
				opacity:0;
			}
		}
		.trans{
			transition:all .5s;
		}
	}
	.dot{
		width: 100px;
		margin:15px auto;
		span{
			@include doting;
			display:inline-block;
			margin:0 2.5px;
		}
		.dot-active{
			background-color: $color;
		}
	}
	@mixin turn{
		position: absolute;
		top: 50%;
		width: 20px;
		height: 40px;
		margin-top:-20px;
		color: #fff;
		text-align:center;
		font:700 20px/40px 'microsoft yahei';
		cursor:pointer;
		opacity:0;
		z-index:99;
		transition:all 1s;
	}
	a.turn-left{
		@include turn;
		left:0;
	}
	a.turn-right{
		@include turn;
		right:0;
	}
	a:hover{
		color: $shadow;
	}

}
